<div class="container mt-5 text-center">
  <div *ngIf="authService.isLoggedIn(); else guest">
    <h1>Benvenuto, {{ authService.getUsername() }}!</h1>
    <p>Visualizza i tornei e le tue partite dal menu.</p>
    <!-- <div class="mt-4">
      <a routerLink="/play/lista-tornei" class="btn btn-primary">Vai ai tornei</a>
    </div> -->
  </div>

  <ng-template #guest>
    <h1>Benvenuto su ChessApp!</h1>
    <p>Effettua il login o registrati per iniziare a giocare.</p>
    <div class="mt-4">
      <a routerLink="/login" class="btn btn-success me-2">Login</a>
      <a routerLink="/register" class="btn btn-primary">Registrati</a>
    </div>
  </ng-template>
</div>